@media screen and (max-width: 1340px) {
    html{
        font-size: 9px;
    }
}


@media screen and (max-width: 980px) {
    html{
        font-size: 7px;
    }
}

@media screen and (max-width: 760px) {
    html{
        font-size: 5px;
    }
}

