@media screen and (max-width: 1340px) {
    html {
        font-size: 9px;
    }
}

@media screen and (max-width: 980px) {
    html {
        font-size: 7px;
    }
}

@media screen and (max-width: 760px) {
    html {
        font-size: 5px;
    }
}

@media screen and (max-width: 540px) {
    html {
        font-size: 10px;
    }
    .container {
        top: 3%;
    }
    .card-button.adaptive-mobile {
        display: flex;
    }
    .product-card-wrapper {
        flex-direction: column;
        height: 69rem;
        width: 37rem;
        top: 5%;
    }
    .image-wrapper {
        display: none;
    }
    .column-left {
        width: 100%;
    }
    .gallery-wrapper {
        margin-top: 1rem;
        max-width: 35rem;
    }
    .slide {
        min-width: 31rem;
        min-height: 31rem;
    }
    .item-type {
        display: none;
    }
    .brand-item {
        margin-top: 0;
        padding: 0;
        height: auto;
    }
    .item-name {
        margin: 1rem 0;
        padding: 0;
        height: auto;
    }
    .item-price {
        margin: 0;
        padding: 0;
        height: auto;
    }
    .color-change {
        padding: 0;
        padding-top: 1rem;
        margin-bottom: 0;
    }
    .item-property {
        margin-top: 0;
        width: 34rem;
    }
    .button-wrapper {
        margin-top: 0;
        margin-left: 1.5rem;
    }
    .adaptive-pc {
        display: none;
    }
    .cross {
        right: 0;
        top: -5%;
    }
    .slide.selected {
        border: 0px;
    }
}

@media screen and (max-width: 380px) {
    html {
        font-size: 8px;
    }
}

@media screen and (max-width: 300px) {
    html {
        font-size: 7px;
    }
}
