* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    height: 100%;
}

h1 {
    font-size: 3.2rem;
}

h2 {
    font-size: 2.4rem;
}

button {
    padding: 0;
    border: none;
    background-color: #fff;
}

body {
    font-family: 'Manrope', sans-serif;
    font-size: 10px;
    height: 100%;
    background-color: #0E1421;
}

.container {
    position: relative;
    overflow: hidden;
    display: none;
    align-items: center;
    justify-content: center;
    height: 100%;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.product-card-wrapper {
    position: absolute;
    width: 96rem;
    height: 54rem;
    background: rgba(255, 255, 255, 0.65);
    backdrop-filter: blur(35px);
    display: flex;
}

.column-left,
.card-content {
    height: 100%;
    width: 50%;
    display: inline-block;
}

.column-left {
    flex-direction: column;
}

.card-content {
    margin: 1rem;
}

.image-wrapper {
    margin: 1rem;
    width: 46rem;
    height: 38.2rem;
    background-color: #fff;
    position: relative;
}

.gallery-wrapper {
    display: flex;
    max-width: 46rem;
    align-items: center;
    flex-direction: row;
    margin-left: 1rem;
    overflow: auto;
    flex-basis: auto;
    -ms-overflow-style: none;
    /* for Internet Explorer, Edge */
    scrollbar-width: none;
    /* for Firefox */
}

.gallery-wrapper::-webkit-scrollbar {
    display: none;
    /* for Chrome, Safari, and Opera */
}

.slide {
    flex-grow: 1;
    min-width: 12.8rem;
    height: 12.8rem;
    background-color: #fff;
    margin-right: 1rem;
}

.slide:last-child {
    margin-right: 0;
}

.brand-item {
    margin-top: 2.4rem;
    width: 17.3rem;
    height: 15.9rem;
}

.item-name {
    align-items: center;
    display: flex;
    width: 100%;
    height: 6.4rem;
}

.item-price {
    height: 5.3rem;
    padding-top: 1rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.item-price.h1,
.item-name.h2 {
    vertical-align: middle;
}

.color-change,
.item-property {
    font-size: 1.4rem;
}

.color-change {
    width: 23.4rem;
    height: 8.8rem;
    padding-top: 2.4rem;
    margin-bottom: 2.4rem;
}

.color-change-var {
    padding-top: 1rem;
    width: 23.4rem;
    height: 5.2rem;
    display: flex;
}

.color-var {
    cursor: pointer;
    margin: 1rem;
    min-width: 3.2rem;
    height: 3.2rem;
    background-color: #C4C4C4;
}

.color-var:first-child {
    margin-left: 0;
}

.color-var.selected {
    border: 1px solid #0E1421;
}

.item-property {
    max-width: 45rem;
    margin-top: 3.4rem;
    display: inline-block;
    padding-bottom: 1rem;
}

.button-wrapper {
    width: 43.6rem;
    height: 3.9rem;
    display: flex;
    align-items: flex-start;
    margin-top: 3.4rem;
    margin-bottom: 2.6rem;
}

.button-wrapper .card-button {
    padding-left: 3rem;
    padding-right: 3rem;
    text-transform: uppercase;
    margin-right: 1.2rem;
}

.card-button.adaptive-mobile {
    display: none;
}

button:hover svg path {
    fill: white;
    transition: all .3s ease-in-out;
}

#open {
    position: absolute;
}
