.cross {
    cursor: pointer;
    position: absolute;
    top: -7%;
    right: -5%;
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s ease-in-out;
}

.cross::before,
.cross::after {
    content: "";
    position: absolute;
    width: 2.8rem;
    height: 0.4rem;
    background: #fff;
    transition: .5s ease-in-out;
}

.cross:before {
    transform: rotate(45deg);
}

.cross:after {
    transform: rotate(-45deg);
}

.cross:hover {
    background: #F9F44E;
}

.cross:hover::after,
.cross:hover::before {
    background: #000;
}

.slider-button-group {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.slider-button-bg {
    background-color: #fff;
    cursor: pointer;
    width: 4rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s;
}

.slider-button-bg::after {
    content: "";
    position: relative;
    width: 1.8rem;
    height: 1.8rem;
    border-bottom: .5rem solid #000;
    border-right: .5rem solid #000;
    transition: .3s;
}

.slider-button-bg#prev::after {
    transform: rotate(135deg);
    left: 10%;
}

.slider-button-bg#next::after {
    transform: rotate(-45deg);
    right: 10%;
}

.slider-button-bg:hover::after {
    border-bottom: .6rem solid #FFF;
    border-right: .6rem solid #FFF;
}

.slider-button-bg:hover {
    background-color: #000;
}

.card-button {
    cursor: pointer;
    display: block;
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
    transition: color .3s ease-in-out, background-color .3s ease-in-out;
}

.card-button:hover {
    color: #fff;
    background-color: #000;
}
